body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  background-color: black;
  height: 100%;
  width: 100%;
}

.logo {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
}

.navbar {
  width: 60%;
  display: flex;
  flex-direction: row;
}

#movie-logo {
  width: 50px;
  height: 60px;
}

.footer {
  width: 100%;
  height: 30px;
  color: black;
  background-color: #b0c4de;
  bottom: 0;
}

.search-section {
  width: 60%;
}

.search-form {
  width: 70%;
  margin: 25px;
  font-size: 18px;
  height: 40px;
  border-radius: 50px;
}

.login {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.login-button {
  background-color: #e6e6fa;
  width: 200px;
  height: 50px;
  margin: 15px;
  border-radius: 50px;
}

.navbar-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #b0c4de;
}
.film-main {
  width: 100%;
}

.film {
  min-width: 80vw;
  margin: auto;
  background-color: black;
  color: #e6e6fa;
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: bold;
  font-size: 40px;
}

#film-image {
  margin: 20px;
  /*height: 20px;
  width: 20px;*/
}

#password-content {
  width: 200px;
  height: 40px;
  margin: 5px;
  border-radius: 50px;
}

#login-content {
  width: 200px;
  height: 40px;
  margin: 5px;
  border-radius: 50px;
}

#email-content {
  width: 200px;
  height: 40px;
  margin: 5px;
  border-radius: 50px;
}

#name-content {
  width: 200px;
  height: 40px;
  margin: 5px;
  border-radius: 50px;
}

.login-form-container {
  width: 100%;
  height: 100%;
}

.signup-container {
  width: 100%;
  height: 100%;
  color: white;
}

.login-form {
  background-color: black;
  color: white;
}

.signin-button {
  background-color: #b0c4de;
  border-radius: 50px;
  width: 150px;
  height: 40px;
  margin: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#main-text {
  color: #b0c4de;
}

.img {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.signup-button {
  background-color: #b0c4de;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  margin: 20px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.login-route {
  color: white;
  font-size: 15px;
}

#img-fill {
  width: 100%;
  height: 100%;
}

.add-movie-container {
  width: 100%;
  height: 100%;
}

.add-movie-content {
  width: 100%;
  height: 1080px;
  background-image: url("https://wallpaper.dog/large/20493446.jpg");
}

.add-movie-content-form {
  overflow: auto;
  background-color: #cccccc;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 40px;
}

.add-movie-content {
  overflow: auto;
}

.movie-form-content {
  border: #20292f solid 2px;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 40px;
}

.movie-form-group {
  margin: auto;
  margin-top: 20px;
}

.add-movie-btn {
  background-color: goldenrod;
  border-radius: 20px;
  width: 125px;
  height: 50px;
  margin: 70px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#title-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}

#desc-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}

#genre-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}
#star-img {
  width: 14px;
  height: 14px;
}
